body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.input-text {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

button {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.file-label {
    display: inline-block;
    background-color: #2a9d8f;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.file-label:hover {
    background-color: #21867a;
}

.file-count {
    margin-left: 10px;
    font-style: italic;
    color: #555;
}



.cv-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    font-size: 0.95rem;
}

.cv-table th,
.cv-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: center;
}

.cv-table th {
    background-color: #1f9c8f;
    color: white;
}

.cv-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.cv-table strong {
    color: #15645c;
}
